/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
    font-family:'Times New Roman', Times, serif;
    font-weight: normal ;
    color: #4e4d4d;
}

html {
    scroll-behavior: smooth;
}

.list-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 20px;
}

.list-menu li { 
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    padding: 10px 20px;
    border-radius: 5px;
}

.list-menu li a {
    display: block; /* Đảm bảo liên kết chiếm toàn bộ vùng của `li` */
    padding: 10px 20px;
    text-align: center;
    color: #4e4d4d; /* Giữ màu chữ như ban đầu */
    text-decoration: none; /* Loại bỏ gạch dưới */
    border-radius: 5px; /* Thêm hiệu ứng bo góc nếu cần */
    transition: 0.3s; /* Thêm hiệu ứng chuyển đổi */
}

.list-menu li:hover a {
    background-color: #ffd2af;
    color: #000;
}

.img-size {
    width: 350px;
    height: 220px;
    /* object-fit: cover; */
}

.khoang-trang-img{
    margin: 5px;
}

.crop {
    width: 340px;
    height: 460px;
    object-fit: cover;
}

.li-style {
    list-style: none;
}

.size-content {
    font-size: 50px;
}


.khoangCach {
    margin-left: 150px;
    margin-right: 150px;
}

.khoangCachContent {
    margin-bottom: 100px;
}

.style-content {
    font-family:'Times New Roman', Times, serif;
    font-weight: normal ;
    color: #4e4d4d;
}

.font-h1 {
    font-size: 50px;
}

#header {

}

.center {
    list-style: none;
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: space-around; /* Căn giữa theo chiều ngang */
    height: 100vh; /* Chiều cao của phần tử cha */
}


#header .center > li > ul h1 {
    font-size: 100px;
}

.anhHeader{
    width: auto;
    height: 500px;
}


#content {

}

#sothich {

}

#sothich .sothich2 {
    
}



.content-muctieu {
    inline-size: 400px;
}


